.shaz{
background-image: url("../image/backgrounds/h_img.jpg");
background-size: cover;
background-repeat: no-repeat;
width: 100%;
background-position: center;
height: 60vh;
text-align: center;
color: white;

}
.logo{
    padding-top:50px;

    
}.shaz2{
    padding-top: 50px;
}
.mouse{
    padding-top: 50px;
}
.about{
    text-align: center;
    font-size: small;
    padding: 20px;
}
.services{
    text-align: center;
    font-size: small;
    background-image: url("../image/backgrounds/s_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    color: white;
    padding-top: 100px;
  
   
}
.what-to{
    text-align: center;
    padding: 20px;
}
.port img{
width: 250px;
}
.port{
    text-align: center;
}
.contact{
    background-image: url("../image/backgrounds/c_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    padding: 20px;
    text-align: center;
}
.icon{
    margin-right: 10px; 
    background-color: beige                 
}
.studio{
   text-align: center; 
}
#jaber{
background: none;
height: 20vh;
}
#zel{
    background: none;
}
#mce-EMAIL{
    background: none;
}
.box {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    height: 200px;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 200px;
}
.bounce-2 {
    animation-name: bounce-2;
    animation-timing-function: ease;
}
@keyframes bounce-2 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-100px); }
    100% { transform: translateY(0); }
}
.par,
.par1,.par2,.par3,.par4,.par5,.par6,.par7{
position:absolute;
color: white;
text-transform: uppercase;
margin-left: 12%;
border:2px solid #fff;
padding: 30px;
margin-top: 17%;
display: none;
}
